<launch>
  <!-- Record bag -->
  <node pkg="rosbag" type="record" name="rosbag_record_data"  respawn="true" output="screen" args="-b 4096 -o $(find multicam_calibration)/data/realsense2 /tf /tf_static /camera1/color/image_raw /camera1/aligned_depth_to_color/image_raw /camera2/color/image_raw /camera2/aligned_depth_to_color/image_raw /camera3/color/image_raw /camera3/aligned_depth_to_color/image_raw" />
</launch>