<launch>
  <arg name="data"            default=""/>
  <arg name="start"           default="10"/>
  <arg name="end"             default="100"/>
  <arg name="camera_pos_file" default="camera_id.yaml"/>
  <node pkg="multicam_calibration" type="ros2web" args="${data} ${start} ${end} ${find multicam_calibration}/data/${data}.bag ${find multicam_calibration}/config/io.yaml ${find multicam_calibration}/data/${camera_pos_file}" />
</launch>