<launch>
  <arg name="data"            default=""/>
  <arg name="start"           default="10"/>
  <arg name="end"             default="100"/>
  <arg name="camera_pos_file" default="camera_id.yaml"/>
  <arg name="vis_dir"         default="calibration"/>
  <node pkg="multicam_calibration" name="ros2web" output="screen" type="ros2web" args="$(arg data) $(arg start) $(arg end) $(find multicam_calibration)/data/$(arg data).bag $(find multicam_calibration)/config/io.yaml $(find multicam_calibration)/data/result/$(arg camera_pos_file) $(find multicam_calibration)/../../../external/Easy3DViewer/public/test_data/$(arg vis_dir) $(find multicam_calibration)/data/dump/" />
</launch>