<launch>
  <remap from="/aligned_depth_to_color/image_raw" to="/depth_map"/>
  <remap from="/color/image_raw" to="/rgb_map"/>
  <remap from="/aligned_depth_to_color/camera_info" to="/camera_info"/>
  <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">
    <arg name="align_depth" value="true"/>
  </include>
  <arg name="node_start_delay" default="5.0" />  
  <node pkg="rosbag" type="record" name="rosbag_record_data" respawn="true" output="screen" args="-b 2048 -o $(find monocam_record)/data/realsense2 /depth_map /rgb_map /tf /tf_static /camera_info" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' "/>
</launch>